<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <nav>
                <a href="{{ url_for('main.home') }}">Home</a>
                <a href="{{ url_for('main.my_profile')}}">My Profile</a>
                <a href="{{ url_for('auth.register') }}">Register</a>
                <a href="{{ url_for('auth.login') }}">Log in</a>
            </nav>
        </div>
        <div class="nav-right">
            <nav>
                <form method="POST" action="{{ url_for('auth.logout')}}">
                    <button type="submit" value="logout" name="submit">Logout</button>
                </form>
            </nav>
        </div>
    </div>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>