<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename="script.js") }}"></script>
</head>
<body>
    <div class="patterns pt1">
        <div class="navbar">
            <div class="nav-left">
                <nav>
                    <a href="{{ url_for('main.home') }}">Home</a>
                    {% if user_session %}
                    <a href="{{ url_for('main.my_profile')}}">My Profile</a>
                    {% else %}
                    <a href="{{ url_for('auth.register') }}">Register</a>
                    <a href="{{ url_for('auth.login') }}">Log in</a>
                    {% endif %}
                </nav>
            </div>
            {% if user_session %}
            <div class="nav-right">
                <nav>
                    <form method="POST" action="{{ url_for('auth.logout')}}">
                        <button type="submit" value="logout" name="submit">Logout</button>
                    </form>
                </nav>
            </div>
            {% endif %}
        </div>
        <hr class="nav-hr">
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>