{% extends 'base/base.html' %}

{% block title %}Droplet - main{% endblock %}

{% block content %}

<div class="center-content">
    <div class="droplet-showcase">
        {% for blood_type in blood_list %}
        <div class="blood_details">
            <div class="droplet {{ blood_type[0] }}"></div>
            {{ blood_type[1] }}
        </div>
        {% endfor %}
    </div>
    <hr width="600px", size="2">
    <section class="news">
        <div class="news-topbar">
            <h1>News</h1>
            <div class="img_view">
                <img src="../static/little_blood.png" alt="droplet" style="width: 100px;">
            </div>
        </div>
        {% for post in post_list %}
        <div class="news-content">
            <div class="news-details">
                <h1>{{ post.title }}</h1>
                <p class="news-paragraph">
                    {{ post.content }}
                </p>
                <a href="{{ url_for('main.news_details', post_title=post.title_normalized) }}">
                    <button type="submit" value="details" name="read_more" class="button-news-details">Read more</button>
                </a>
        </div>
        {% endfor %}
    </section>
</div>

{% if request.args.get('token') %}
    <script>alert("That's it!")</script>
{% endif %}

{% endblock %}