{% extends 'base/base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} News - {{ post.title }} {% endblock %}

{% block content %}

<div class="center-content">
    <section class="news profile-view">
        <div class="news-content">
            <h3>{{ post.title }}</h3>
            <div class="news-details">{{ post.content }}</div>
        </div>
        <div class="news-content comments">
            
                <h3 class="news-details news-header">Comments:</h3>
                <div class="news-details comments">
                {% for comment in comments %}
                <p>
                    {{ comment.content }}
                </p>
                <hr>
                <p>By: <b>{{ comment.username }}</b></p>
                <br>
                {% endfor %}
            </div>
        </div>
    </section>
    {% if user_session %}
    {{ wtf.quick_form(form) }}
    {% else %}
    Log-in to add comments
    {% endif %}
</div>

{% endblock %}